@model CoreDX.Domain.Entity.App.Sample.Domain

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Domain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SampleColumn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SampleColumn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModificationTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
