@model IEnumerable<Localization.SqlLocalizer.DbStringLocalizer.LocalizationRecord>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalizationCulture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceKey)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        </td>
    </tr>
}