@page
@model IdentityServer.Pages.TreeDomainDemo.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TreeDomain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TreeDomain.SampleColumn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreeDomain.SampleColumn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreeDomain.Parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreeDomain.Parent.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreeDomain.OrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreeDomain.OrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreeDomain.RowVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreeDomain.RowVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreeDomain.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreeDomain.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreeDomain.CreationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreeDomain.CreationTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreeDomain.LastModificationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreeDomain.LastModificationTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreeDomain.CreationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreeDomain.CreationUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreeDomain.LastModificationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TreeDomain.LastModificationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TreeDomain.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
