<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewBag.AppTitle</title>

    <partial name="_BootstrapStylesPartial" />
    <partial name="_AnimateCssStylesPartial" />
    <partial name="_SiteStylesPartial" />
    
    <style>
        .container-fluid {
            max-width: 95%;
        }
        .navbar-nav .nav-link {
            white-space: nowrap;
        }
    </style>

    @RenderSection("Styles", required: false)
</head>
<body>

    <div id="background" class="backgroundPic"></div>
    <div id="navBlur" class="animated slideInDown faster backgroundBeforePic"></div>
    <div id="containerBlur" class="animated bounceInDown backgroundBeforePic"></div>
    @*<div id="footerBlur" class="backgroundBeforePic"></div>*@

    <header>
        <nav class="navbar navbar-expand-md fixed-top navbar-light animated slideInDown faster navbar-background">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">IdentityServer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarSupportedContent" class="navbar-collapse collapse flex-row-reverse"  style="overflow-y:auto; max-height:200px">
                    <partial name="_LoginPartial" />
                    <ul class="nav navbar-nav flex-fill">
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><localize>Home</localize></a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"><localize>About</localize></a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact"><localize>Contact</localize></a></li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown">
                                <localize>Application Manager</localize>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetControllersAndActions"><localize>Web Endpoints List</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Manage" asp-controller="Localization" asp-action="Index"><localize>Localization Manager</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="IdentityServer" asp-controller="ConfigHome" asp-action="Index"><localize>IdentityServer Config Home</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Manage" asp-controller="Home" asp-action="Index"><localize>Manager Home</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Manage/Users/Index"><localize>User Manager</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Manage/Roles/Index"><localize>Role Manager</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Services/Index"><localize>Services List</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="/dir"><localize>File Explore</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="/swagger"><localize>Swagger Api Explore</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="/health"><localize>Health Check</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-page="/RtmpManage/Index"><localize>Living Service</localize></a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown">
                                <localize>Demo</localize>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/RazorPageDemo"><localize>Razor page demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/SimpleRazorPage2" asp-page-handler="Demo"><localize>Simple razor page 2 demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/FluentValidationDemo/Index"><localize>FluentValidation demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/RazorRenderer/ToString"><localize>Razor view to string demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/MiniProfiler/Index"><localize>MiniProfiler demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/AppRunInfo/Index"><localize>AppRunInfo demo</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="DomainDemo" asp-action="Index"><localize>Domain demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/TreeDomainDemo/Index"><localize>TreeDomain demo</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/SignalR/Chat/Index"><localize>SignalR Chat Demo</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" href="/blazor"><localize>Blazor WebAssembly Demo</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/OnlineCode/CSharp"><localize>Web C# Script Demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Decompiler/CSharp"><localize>C# Decompiler Demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/CollectibleAssembly/Index"><localize>Collectible Assembly Demo</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Sudoku/Index"><localize>Sudoku Demo</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/HeadlessChrome/Index"><localize>HeadlessChrome Demo</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/DanmakuPlayer/Index"><localize>Danmaku Player Demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/LivingPlay/Index"><localize>Living Play Demo</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Ocr/Index"><localize>Ocr Demo</localize></a></li>
                                <li class="nav-item"><a class="nav-link text-dark" href="/quartz"><localize>Quartz Panel</localize></a></li>
                                <div class="dropdown-divider"></div>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/MemoryDiagnostic/Index"><localize>Memory Diagnostic Demo</localize></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid body-content animated bounceInDown backgroundBeforePic">
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @RenderBody()
            <div style="width: 100%; height: 15px;"></div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; @DateTimeOffset.Now.Year - @ViewBag.AppTitle - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <mini-profiler />

    <partial name="_JQueryScriptsPartial" />
    <partial name="_BootstrapScriptsPartial" />
    <partial name="_BootstrapDropdownHoverScriptsPartial" />
    <partial name="_SiteScriptsPartial" />

    <script asp-add-nonce="true">
        $(document).ready(function () {
            bodyPaddingTop();
            navBlur();
            containerBlur();
            footerBlur();
            navOverflow();

            $(window).resize(function () {
                bodyPaddingTop();
                navBlur();
                containerBlur();
                footerBlur();
                navOverflow();
            });

            $('body > div.container-fluid.body-content').eq(0).resize(function () {
                containerBlur();
                footerBlur();
            });

            $('body > header > nav').eq(0).resize(function () {
                navBlur();
            });

            $('.navbar [data-toggle="dropdown"]').bootstrapDropdownHover();
        });

        function bodyPaddingTop() {
            $('body > div.container-fluid.body-content').eq(0).css('padding-top', $('nav').eq(0).outerHeight() + 15);
        }

        function navBlur() {
            var exp = $('body > header > nav').eq(0);
            var h = exp.css('aria-expanded') === 'true' ? exp.outerHeight() : 0;
            $('#navBlur').eq(0).width($('nav').eq(0).outerWidth()).height($('nav').eq(0).outerHeight() + h);
        }

        function containerBlur() {
            $('#containerBlur').eq(0)
                .css('top', $('nav').eq(0).outerHeight() + 'px')
                .css("margin-left",
                parseFloat($('body > div.container-fluid.body-content').eq(0).css('margin-left').substr(0,
                        $('body > div.container-fluid.body-content').eq(0).css('margin-left').length - 2)))
                .css("margin-right",
                parseFloat($('body > div.container-fluid.body-content').eq(0).css('margin-right').substr(0,
                        $('body > div.container-fluid.body-content').eq(0).css('margin-right').length - 2)))
                .width($('body > div.container-fluid.body-content').outerWidth())
                .height($('body > div.container-fluid.body-content').eq(0).height() + 15);
        }

        function footerBlur() {
            var $footer = $('footer');
            if ($('.body-content').outerHeight() + $footer.height() < $(window).height()) {
                $footer.css('position', 'absolute');
            } else {
                $footer.css('position', 'static');
            }
        }

        function navOverflow() {
            if (!$('body > header > nav > div > button').is(':hidden')) {
                $('#navbarSupportedContent').css('max-height', $(window).height() - 60 + 'px').css('overflow-y', 'auto');
                $('.nav-item.dropdown .dropdown-menu').css('max-height', '').css('overflow-y', '');
            }
            else {
                $('#navbarSupportedContent').css('max-height', 'auto').css('overflow-y', '');
                $('.nav-item.dropdown .dropdown-menu').css('max-height', '250px').css('overflow-y', 'auto');
            }
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
