@model Localization.SqlLocalizer.DbStringLocalizer.LocalizationRecord

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocalizationRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocalizationCulture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalizationCulture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResourceKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResourceKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
